<div class="page">
  <div class="container mx-auto mt-3">
    <%= form_for :search, method: :get do |f| %>
      <div class="d-flex flex-row bd-highlight mb-3 gap-3">
        <div class="form-floating flex-fill align-self-center">
          <%= f.text_field :query, class: 'form-control', placeholder: '', value: @query %>
          <%= f.label :query do %>
            Give any keywords for a movie
          <% end %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-outline-primary align-self-center btn-lg' %>
      </div>
    <% end %>

    <% if @result %>
      <% if @result.cache_hit.positive? %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          You got the results from the cache, it's the <%= @result.cache_hit.ordinalize %> hit!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% else %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          You got the results fresh from the API!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <% if @result.result['success'] == false %>
        <div class="alert alert-danger show" role="alert">
          <%= @result.result['status_message'] %>
        </div>
      <% elsif @result.result['results'].any? %>
        <div class="d-flex flex-wrap justify-content-around gap-3">
          <% @result.result['results'].each do |movie| %>
            <div class="card" style="width: 14rem;">
              <% if movie['poster_path'] || movie['backdrop_path'] %>
                <img src='https://image.tmdb.org/t/p/w300<%= movie['poster_path'] || movie['backdrop_path'] %>' class='card-img-top'>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= movie['title'] %>
                  (<%= movie['release_date']&.split('-')&.first || 'Unknown' %>)</h5>
                <p class="card-text"><%= movie['overview']&.truncate(100, separator: ' ') %></p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="d-flex flex-wrap justify-content-around gap-3 mt-3">
          <nav>
            <ul class="pagination">
              <li class="page-item <%= 'disabled' if @page == 1 %>">
                <%= link_to root_path(search: { query: @query, page: @page - 1 }), class: 'page-link' do %>
                  &laquo;
                <% end %>
              </li>

              <% (([1, @page - 3].max)..([@result.result['total_pages'], @page + 3].min)).map do |page| %>
                <li class="page-item">
                  <%= link_to page, root_path(search: { query: @query, page: page }), class: "page-link #{'active' if page == @page}" %>
                </li>
              <% end %>

              <li class="page-item <%= 'disabled' if @page == @result.result['total_pages'] %>">
                <%= link_to root_path(search: { query: @query, page: @page + 1 }), class: 'page-link' do %>
                  &raquo;
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      <% elsif @result.result['total_pages'] > 1 %>
        <div class="alert alert-danger show" role="alert">
          There are no results here, try going back to a previous page.
        </div>
      <% else %>
        <div class="alert alert-danger show" role="alert">
          There are no results for these keywords.
        </div>
      <% end %>
    <% end %>
  </div>
</div>
